* {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    text-decoration: none;
    align-items: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    background-image: linear-gradient(to bottom right, white, #98c4e3);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

header {
    margin-top: 6vh;
    width: 14vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header img {
    height: 4vh;
}

header h1 {
    color: #3173a1;
}

h2 {
    margin-top: 6vh;
}

form {
    height: 23vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#input {
    width: 35vw;
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#input h3 {
    color: #3173a1;
    font-size: x-large;
}

.player {
    height: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.player input {
    width: 12.5vw;
    height: 2.5vh;
    border-radius: 5px;
    padding: 0 10px;
}

#submit {
    background-color: #3173a1;
    font-size: 2.2vh;
    border: none;
    color: white;
    padding: 1.5vh 3vw;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
}

#submit:hover {
    background-color: #25597e;
}

#rules {
    margin-top: 5vh;
    width: 36vw;
    list-style: none;
}

#rules li {
    margin-bottom: 2vh;
}

#rules li::before {
    content: "\2022";
    color: #3173a1;
    font-weight: bold;
    display: inline-block;
    width: 1.2em;
}

#score {
    margin-top: 4vh;
    width: 27vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#score h3 {
    color: #3173a1;
    font-size: x-large;
}

#result {
    margin-top: 4vh;
}

.grid-container {
    margin-top: 5vh;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, auto);
}

.grid-item {
    width: 125px;
    height: 125px;
    background-color: transparent;
}

#s1 {
    border-right: 5px solid #3173a1;
    border-bottom: 5px solid #3173a1;
}

#s2 {
    border-right: 5px solid #3173a1;
    border-bottom: 5px solid #3173a1;
}

#s3 {
    border-bottom: 5px solid #3173a1;
}

#s4 {
    border-right: 5px solid #3173a1;
    border-bottom: 5px solid #3173a1;
}

#s5 {
    border-right: 5px solid #3173a1;
    border-bottom: 5px solid #3173a1;
}

#s6 {
    border-bottom: 5px solid #3173a1;
}

#s7 {
    border-right: 5px solid #3173a1;
}

#s8 {
    border-right: 5px solid #3173a1;
}

#play-again {
    width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 7vh;
    text-align: center;
    font-size: 2.2vh;
}

#play-again > a {
    background-color: #3173a1;
    border-radius: 10px;
    color: white;
    width: 9.5vw;
    height: 2.5vh;
    padding: 1.5vh 2vw;
}

#play-again > a:hover {
    background-color: #25597e;
}